*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg-color: hsl(0, 0%, 15%);
    --main-bg-color: #333;
    --less-light-bg-color: hsl(0, 0%, 22%);
    --light-bg-color: hsl(0, 0%, 28%);
    --main-text-color: #eee;
    --url-text-color: hsl(240, 100%, 70%);
    --url-text-color-hover: hsl(240, 100%, 80%);
    --accent-color: hsl(0, 80%, 40%);
    --accent-color-hover: hsl(0, 80%, 50%);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    font-family: sans-serif;
    font-size: 2rem;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--url-text-color);
    transition: color 100ms linear;
}

a:hover {
    color: var(--url-text-color-hover);
    transition: color 100ms linear;
}

a:active {
    color: var(--url-text-color);
    transition: color 30ms linear;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--light-bg-color);
}

nav {
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 1rem;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.nav-active {
    border-bottom: 0.2rem var(--accent-color) solid;
}

nav>ul>li>a {
    color: var(--main-text-color);
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.landing {
    background-color: var(--dark-bg-color);
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.landing-text {
    font-size: 175%;
    display: flex;
    flex-direction: column;
}

.landing-text-titles {
    display: flex;
    gap: 1rem;
}

.title-red {
    color: var(--accent-color);
}

.title-blue {
    color: var(--url-text-color);
}

.landing-buttons {
    display: flex;
    gap: 2rem;
}

.landing-buttons>div {
    font-size: 135%;
    width: 13.5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    transition: background-color 100ms linear;
}

.landing-buttons>div>a {
    color: var(--main-text-color);
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
}

.landing-button-projects {
    background-color: var(--accent-color);
}

.landing-button-projects:hover {
    background-color: var(--accent-color-hover);
    transition: background-color 100ms linear;
}

.landing-button-skills {
    background-color: var(--url-text-color);
}

.landing-button-skills:hover {
    background-color: var(--url-text-color-hover);
    transition: background-color 100ms linear;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem;
    min-height: 95vh;
}

.projects>h2 {
    font-size: 200%;
}

.projects-container {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25%;
    height: 50rem;
    padding: 2rem;
    border: var(--accent-color) 0.3rem solid;
    box-shadow: var(--accent-color) 0 0 1.5rem;
    border-radius: 2rem;
    text-align: center;
    transition: background-color 100ms linear;
}

.project:hover {
    background-color: var(--less-light-bg-color);
    transition: background-color 100ms linear;
}

.project-title {
    font-weight: bold;
    font-size: 3rem;
}

.project-image {
    width: 100%;
}

.project-description {
    height: 15rem;
    align-content: center;
}

.project-link {
    align-self: center;
    height: 2.5rem;
    width: max-content;
}

.projects-page-button {
    background-color: var(--accent-color);
    color: var(--main-text-color);
    width: 20rem;
    height: 4rem;
    font-size: 125%;
    border-radius: 1rem;
    text-align: center;
    align-content: center;
    transition: background-color 100ms linear;
}

.projects-page-button:hover {
    background-color: var(--accent-color-hover);
    color: var(--main-text-color);
    transition: background-color 100ms linear;
}

.skills {
    background-color: var(--less-light-bg-color);
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    gap: 3.5rem;
}

.skills>h2 {
    font-size: 200%;
}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.skill {
    border: var(--url-text-color) 0.3rem solid;
    box-shadow: var(--url-text-color) 0 0 1.5rem;
    border-radius: 2rem;
    width: 65vw;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
}

.skill>h3 {
    font-size: 137.5%;
}

.contact-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
Source - https://stackoverflow.com/a/41566570
Posted by cyptus, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-19, License - CC BY-SA 4.0
*/

.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

.cryptedphone:after{
    content: "+" attr(data-countrycode) attr(data-number);
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: var(--light-bg-color);
    height: 7.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.no-ai {
    width: 2rem;
    height: 2rem;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.footerLinks>li>a>i {
    font-size: 75%;
}