*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 2rem;
    color: #eee;
    background-color: #333;
    height: 100%;
}

a{
    color: rgb(112, 112, 255)
}

main{
    display: flex;
    flex-direction: column;
}

.landing{
    background-color: rgb(104, 71, 71);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-text{
    font-size: 175%;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.projects-container{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25%;
    height: 50rem;
    padding: 2rem;
    border: rgb(102, 211, 175) 0.3rem solid;
    border-radius: 2rem;
    text-align: center;
}

.project-title{
    font-weight: bold;
    font-size: 3rem;
}

.project-image{
    width: 100%;
}

.project-description{
    height: 15rem;
    align-content: center;
}

.project-link{
    align-self: center;
    height: 2.5rem;
    width: max-content;
}