*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg-color: #272727;
    --main-bg-color: #333;
    --less-light-bg-color: #373737;
    --light-bg-color: #474747;
    --main-text-color: #eee;
    --url-text-color: hsl(240, 100%, 70%);
    --url-text-color-hover: hsl(240, 100%, 80%);
    --accent-color: hsl(0, 80%, 40%);
    --accent-color-hover: hsl(0, 80%, 50%);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    font-family: sans-serif;
    font-size: 2rem;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--url-text-color);
    transition: color 100ms linear;
}

a:hover {
    color: var(--url-text-color-hover);
    transition: color 100ms linear;
}

a:active {
    color: var(--url-text-color);
    transition: color 30ms linear;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--light-bg-color);
}

nav {
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
    padding: 1rem;
    margin: 0 5rem;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

nav>ul>li>a {
    color: var(--main-text-color);
}

main {
    display: flex;
    flex-direction: column;
}

.landing {
    background-color: var(--dark-bg-color);
    /* background: radial-gradient(ellipse, var(--accent-color), var(--dark-bg-color) 35%); */
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.landing-text {
    font-size: 175%;
}

.landing-buttons {
    display: flex;
    gap: 2rem;
}

.landing-buttons>div {
    font-size: 135%;
    width: 13.5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    transition: background-color 100ms linear;
}

.landing-buttons>div>a {
    color: var(--main-text-color);
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
}

.landing-button-projects {
    background-color: var(--accent-color);
}

.landing-button-projects:hover {
    background-color: var(--accent-color-hover);
    transition: background-color 100ms linear;
}

.landing-button-skills {
    background-color: var(--url-text-color);
}

.landing-button-skills:hover {
    background-color: var(--url-text-color-hover);
    transition: background-color 100ms linear;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem;
}

.projects-container {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25%;
    height: 50rem;
    padding: 2rem;
    border: var(--accent-color) 0.3rem solid;
    box-shadow: var(--accent-color) 0 0 1.5rem;
    border-radius: 2rem;
    text-align: center;
    transition: background-color 100ms linear;
}

.project:hover {
    background-color: var(--less-light-bg-color);
    transition: background-color 100ms linear;
}

.project-title {
    font-weight: bold;
    font-size: 3rem;
}

.project-image {
    width: 100%;
}

.project-description {
    height: 15rem;
    align-content: center;
}

.project-link {
    align-self: center;
    height: 2.5rem;
    width: max-content;
}

footer {
    background-color: var(--light-bg-color);
    height: 7.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}