*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color: #333;
    --dark-bg-color: #272727;
    --light-bg-color: #474747;
    --main-text-color: #eee;
    --url-text-color: rgb(112, 112, 255);
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 2rem;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    height: 100%;
}

ul{
    list-style: none;
}

a{
    color: var(--url-text-color);
}

main{
    display: flex;
    flex-direction: column;
}

.landing{
    background-color: var(--light-bg-color);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-text{
    font-size: 175%;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem;
}

.projects-container{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25%;
    height: 50rem;
    padding: 2rem;
    border: rgb(102, 211, 175) 0.3rem solid;
    border-radius: 2rem;
    text-align: center;
}

.project-title{
    font-weight: bold;
    font-size: 3rem;
}

.project-image{
    width: 100%;
}

.project-description{
    height: 15rem;
    align-content: center;
}

.project-link{
    align-self: center;
    height: 2.5rem;
    width: max-content;
}

footer{
    background-color: var(--dark-bg-color);
    height: 7.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.footerLinks{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}